* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100vw;
  background: url('images/pattern-bg.svg') no-repeat 95%;
  background-size: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .slide-container {
  display: none;
}

main .slide-container.ativo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  max-width: 1200px;
  background: url('images/pattern-quotes.svg') no-repeat 10% 20%;
  margin: 30px;
}

main .slide-container.ativo .img-btns .img-profile {
  width: 90%;
  margin-left: auto;
  border-radius: 8px;
  box-shadow: 3px 4px 150px rgba(0, 0, 0, .2);
}

main .slide-container.ativo .info-slide {
  width: 45.5%;
  left: 5%;
  position: relative;
}
main .slide-container.ativo .info-slide .overlay {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: -120px;
}

main .slide-container.ativo .info-slide p {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: hsl(240, 38%, 20%);
}

main .slide-container.ativo .info-slide h2 {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-top: 30px;
  color: hsl(240, 38%, 20%);
}

main .slide-container.ativo .info-slide h2 span {
  color: hsl(240, 18%, 77%);
  font-weight: 500;
}


/* botoes de navegacao */

main .slide-container .img-btns {
  position: relative;
}

main .slide-container .img-btns .btns {
  display: block;
  position: absolute;
  bottom: -20px;
}

main .slide-container .img-btns .btns .btn {
  border: none;
  width: 60px;
  height: 50px;
  background: rgb(247, 245, 245);
  cursor: pointer;
  transition: .5s ease;
}

main .slide-container .img-btns .btns .btn:hover {
  background: rgb(235, 235, 235);
}

main .slide-container .img-btns .btns .arrow-prev {
  border-radius: 30px 0 0 30px;
}

main .slide-container .img-btns .btns .arrow-next {
  border-radius: 0 30px  30px 0;
  margin-left: -5px;
}

/* responsivo */

@media (max-width: 1015px) {
  main .slide-container.ativo .info-slide p {
    font-size: 1.7rem;
  }
}

@media (max-width: 910px) {
  main .slide-container.ativo .info-slide p {
    font-size: 1.3rem;
  }
}

@media (max-width: 750px) {
  main {
    background: none;
  }

  main .slide-container.ativo {
    display: flex;
    flex-direction: column-reverse;
    background: none;
    margin: 0;
  }

  main .slide-container.ativo .info-slide .overlay {
    position: initial;
    width: 105%;
    z-index: 1;
    top: -120px;
  }

  main .slide-container.ativo .info-slide p {
    font-size: 1.5rem;
  }

  main .slide-container .img-btns {
    background: url('images/pattern-bg.svg') no-repeat top;
    text-align: center;
    height: 420px;
    background-size: contain;
  }

  main .slide-container .img-btns .img-profile {
    margin-top: 42px;
  }

  main .slide-container.ativo .img-btns .img-profile {
    min-width: 350px;
    width: 70%;
    margin: 30px 0 0 auto;
    border-radius: 8px;
    box-shadow: 3px 40px 150px rgba(0, 0, 0, .3);
  }

  main .slide-container .img-btns .btns {
    display: block;
    position: absolute;
    left: 38%;
  }

  main .slide-container.ativo .info-slide {
    left: 0;
    margin-top: 60px;
    background: url('images/pattern-quotes.svg') no-repeat 10% 20%;
    text-align: center;
  }

  main .slide-container.ativo .info-slide span,   main .slide-container.ativo .info-slide h2 {
    font-size: 1.2rem;
    display: block;
  }
}

@media (max-width: 550px) {
  main .slide-container.ativo .info-slide p {
    font-size: 1.2rem;
  }

  main .slide-container.ativo .info-slide h2 {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  main .slide-container.ativo .info-slide p {
    font-size: 1rem;
  }

  main .slide-container.ativo .info-slide h2 {
    font-size: .8rem;
  }
}

